<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الشخصية</title>
    <link rel="stylesheet" href="style/prof.css">
</head>
<body>
    
    <img src="images/bg.png" alt="" class="bg">

    <div class="up">
        <div class="text">
            <h1>كافتيريا علوم</h1>
            <button class="scan">قرائة الكود</button>
            <a href="#">تسجيل الخروج</a>
        </div>
    </div>
 


    <div class="container">
        
        <div class="btns">
            <a href="#" data-tabid="orders" class="active">1 : جميع الاوردرات</a>
        </div>

        <div class="tab view" id="orders">
            
            <div class="or">
                <p>السعر : 30 ج</p>
                <p> الطلب : كريب بطاطس </p>
            </div>

                    
        </div>



    </div>

    

</body>
</html>