<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="style/auth.css">
</head>
<body>
    
    <img src="images/bg.png" alt="" class="bg">

    <div class="container">
 

        <div class="in">
            <p>البريد الالكتروني</p>
            <input type="email">
        </div>
        
        <div class="in">
            <p>كلمة المرور</p>
            <input type="password">
        </div>



        <div class="btns">
            <a href="#">انشاء حساب ؟</a>
            <button>تسجيل</button>
        </div>

    </div>


    

</body>
</html>