{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الشخصية</title>
    <link rel="stylesheet" href="{% static 'style/prof.css' %}">
</head>
<body>

    {% for msg in messages %}
        <script>alert("{{msg}}")</script>
    {% endfor %}
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    <div class="up">
        <img src="{{main_url}}{{c_user.picture}}" alt="">
        <div class="text">
            <p>{{c_user.full_name}}</p>
            <p>{{c_user.email}}</p>
            <a href="{% url 'logout' %}">تسجيل الخروج</a>
        </div>
    </div>
 

    <div class="overlay">
        <p class="cancel">X</p>
        <img src="" alt="">
    </div>

    <div class="container">
        <div class="btns">
            <a href="#" data-tabid="orders" >جميع الاوردرات : {{orders.count}}</a>
            <a href="#" data-tabid="order" class="active">اطلب الاوردر</a>
        </div>

        <form class="tab" id="order" method="POST">
            {% csrf_token %}
            <select name="cafateria" id="">
                <option value="#" selected>اختر الكافتريا</option>
                {% for cafateria in cafaterias %}
                    <option value="{{cafateria.id}}">{{cafateria.name}}</option>
                {% endfor %}
            </select>
            
            <select name="product" id="">
                <option value="#">اختر الطلب</option>
                {% for product in products %}
                    <option value="{{product.id}}">{{product.text}}</option>
                {% endfor %}
            </select>
    
            <button type="submit">أطلب الان</button>
        </form>

        <div class="tab" id="orders">
            
            {% for order in orders.orders %}
                <div class="or">
                    <button data-qrpath="{{main_url}}{{order.qr_path}}">عرض الكود</button>
                    <div class="details">
                        <p>الكافتيريا : {{order.cafateria}}</p>
                        <p>السعر : {{order.price}} ج</p>
                        <p>الطلب : {{order.order_text}} </p>
                    </div>
                </div>
            {% endfor %}
            
        </div>



    </div>

    

    <!-- view qr code  -->
    <script>
        var qr_btns = document.querySelectorAll('.or button');
        var overlay = document.querySelector('.overlay');
        var cancelBtn = overlay.querySelector('.cancel');
        qr_btns.forEach(b=>{
            b.addEventListener('click',()=>{
                var img_path = b.dataset.qrpath;
                overlay.classList.add('view');
                overlay.querySelector('img').src = img_path;
            })
        })

        cancelBtn.addEventListener('click',()=>{
            overlay.classList.remove('view');
        })
    </script>

     <!-- change between tabs -->
     <script>
        var btns = document.querySelectorAll('.btns a');
        btns.forEach(btn=>{
            btn.addEventListener('click',()=>{
                btns.forEach(b=>b.classList.remove('active'));
                btn.classList.add('active')
                var current_tabname = btn.dataset.tabid; 
                ChangeTab(current_tabname)
            })
        })

        function ChangeTab(tab_id){
            var tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab=>tab.classList.remove('view'));
            document.getElementById(tab_id).classList.add('view')
        }

        ChangeTab('order')
     </script>

</body>
</html>