{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انشاء حساب</title>
    <link rel="stylesheet" href="{% static 'style/auth.css' %}">
</head>
<body>
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="img-cont">
            <img src="{% static 'images/user.png' %}" id="imgView" alt="">
            <button type="button" id="imgBtn">تغير</button>
            <input type="file" accept="image/*" id="imgInput" hidden name="picture">
        </div>

        <div class="in">
            <p>اسم المستخدم</p>
            <input type="text" name="full_name">
        </div>

        <div class="in">
            <p>البريد الالكتروني</p>
            <input type="email" name="email">
        </div>
        
        <div class="in">
            <p>كلمة المرور</p>
            <input type="password" name="password">
        </div>


        <div class="btns">
            <a href="{% url 'login' %}">تسجيل الدخول ؟</a>
            <button type="submit">تسجيل</button>
        </div>

    </form>


    <script>
        var imgBtn = document.getElementById('imgBtn');
        var imgInput = document.getElementById('imgInput');
        var imgView = document.getElementById('imgView');

        imgBtn.addEventListener('click',()=>{
            imgInput.click()
        })

        imgInput.addEventListener('change',(e)=>{
            imgView.src = URL.createObjectURL(e.target.files[0]);
        })

    </script>

</body>
</html>